<h1>New Card</h1>

<p>You are creating a new card for the following client:</p>
<p>
  <strong>Client DNI</strong>
  <%= params[:client_id]%>
</p>
<%= form_for :card, url: client_cards_path do |f| %>
  <p>
    <%= f.submit 'Create the card' %>
  </p>
<% end %>
