<article>
  <h2>Card ID: <%= @card.id %></h2>

  <p>
    <strong>Status</strong>
    <%= @card.status %>
  </p>

  <p>
    <strong>Points</strong>
    <%= @card.points %>
  </p>

    <p>
    <strong>DNI Client</strong>
    <%= @card.client_id %>
  </p>
</article>
