.navbar {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #EEE;
}

h1 {
  color: #666;
  font-size: 60px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 700;
  text-transform: lowercase;
}

h2 {
  border-top: 2px solid #999;
  color: #777;
  font-size: 28px;
  font-weight: 300;
  max-width: 560px;
  padding-top: 16px;
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  background: #FFF;
  padding: 32px;
  border-radius: 8px;
}

.login__input {
  display: inline-block;
  width: 100%;

  border: 1px #CCC solid;
  padding: 8px;
  border-radius: 2px;
  margin: 8px 0;
}

.login__submit {

}

.myprofile {
  float: left;
  width: 240px;
}

.mycards {
  margin-left: 264px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 0 0 auto;
  margin-right: 24px;
  border-top: 2px solid #999;
  width: 240px;
  height: 240px;
}

.tile:hover {
  border-color: #ff5252;
}

.actions {
  visibility: hidden;
  color: #ff5252;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: right;
  margin-top: 16px;
}

.tile:hover .actions {
  visibility: visible;
}

.mycard {
  height: 180px;
}

.mycard__id {
  font-size: 60px;
  font-weight: 100;
  color: #777;
}

.mycard__points {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.mycard__actions {}

.price__id {
  font-size: 60px;
  font-weight: 100;
  color: #777;
}

.price__name {
  font-size: 18px;
  color: #777;
  font-weight: 600;
}

.price__points {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
