<h1>Hello#index</h1>
<p>Find me in app/views/hello/index.html.erb</p>
<p>Hello from Saby and Carlos</p>
<p><%= link_to 'Mis premios', controller: 'prices' %></p>
<p><%= link_to 'Nuevo premio', new_price_path %></p>
<%= link_to 'Volver a mis premios', prices_path %>
