<h1>Login</h1>

<div>
  <form>
    <label for="dni">DNI</label>
    <input type="text" id="dni" name="id">

    <label for="pass">Contraseña</label>
    <input type="password" id="pass">
  </form>
</div>
